
body {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    padding: 20px;
    margin: 10px;
    border: 20px solid black;
    box-sizing: border-box;

}



.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 10;
    box-sizing: border-box;
}

.nav, .social, .logo {
    background-color: orangered;
    padding: 10px;
  
}

.nav {
    flex: 0.2;
    box-sizing: border-box;
}

.social {
    flex: 0.4;
    box-sizing: border-box;
}

.logo {
    flex: 0.2;
    box-sizing: border-box;
}


.banner {
    background-color: orange;
    padding: 9px;
    margin: 10px;
    border: 20px solid black;
    margin-top: -20px;
    box-sizing: border-box;
}


h1 {
    background-color: yellow;
    padding: 18px;
    flex: 2;
    margin: 10px;
    box-sizing: border-box;

}


.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
    box-sizing: border-box;
}


.articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 34px;
    width: 70%;
    background-color: blue;
    padding: 21px;
    margin: 10px;
    border: 20px solid;
    box-sizing: border-box;
    
}

.article {
    background-color: lightcoral;
    padding: 20px;
    box-sizing: border-box;
    
}


.navegacion {
    background-color:yellowgreen;
    padding: 20px;
    grid-column: 1 / -1;
    box-sizing: border-box;
    
   
    
   
}

.publi {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    background-color: cadetblue;
    border: 20px solid;
    margin-left: -20px;
    box-sizing: border-box;
}

.publicidad {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin: 20px;
    margin-bottom: -13px;
    box-sizing: border-box;
}


footer {
    background-color: black;
    padding: 20px;
    margin-top: 20px;
    margin: 10px;
    box-sizing: border-box;
    
}

.pie {
    background-color: beige;
    padding: 10px;
    box-sizing: border-box;
}



@media (max-width: 1024px) and ( min-width: 600px) {


    .encabezado {
        display: flex;
        margin: 0;
        gap: 24px;
        flex-direction: column;
        

    }
 

    header {
        padding: 15px;
        width: 95%;
        
    }

    .nav, .social, .logo {
        padding: 15px;
        width: 100%;
            
        
    }

    .container {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: column;
     
    }

    .banner {
        width: 95%;
    }

    /* Ajustes para artículos en una sola columna con el mismo tamaño */
    .articulos {
        width: 95%;
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 25px;
    }

    .article {
        padding: 33px;
        width: 100%;
        height: 89%;
        
    }

    .publi {
        width: 95%;
        order: 1;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10px;
        padding: 13px;
    }

    .publicidad {
        padding: 15px;
        margin: 10px;
       
    }

    footer {
        padding: 15px;
        width: 95%;
    }
}


@media (max-width: 599px) {


    .encabezado {
        display: flex;
        margin: 0;
        gap: 24px;
        flex-direction: column;
        

    }

    .nav, .social, .logo {
        padding: 15px;
        width: 100%;
            
        
    }

    .container {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: column;
     
    }

    .articulos {
        width: 95%;
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 25px;
    }

    .article {
        padding: 33px;
        width: 100%;
        height: 89%;
        
    }

    .publi {
        width: 95%;
        order: 1;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10px;
        padding: 13px;
    }

    .publicidad {
        padding: 15px;
        margin: 10px;
       
    }


 

}